@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.grid-block {
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.main-container-min-hight {
  min-height: calc(100vh - 130px);
}

.gradient-border-image {
  background-image: linear-gradient(-60deg, transparent, #0ab9cf 14%, #7535e7 28%, #f9132f 42%, #ffbd00 56%, #72a043 70%, #0ab9cf 84%, rgba(0, 196, 204, 0));
}

.w-main {
  width: clamp(2rem, 100%, 95%);
}
